img {
  max-width: 100%;
}
.main .first {
  padding-top: 50px;
  border-top: 5px solid #0cc;
  padding-bottom: 50px;
}
.main .st {
  color: #099;
  font-size: 19px;
}
.main .st .title {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 30px;
}
.main .st .noidung {
  line-height: 35px;
  margin-bottom: 50px;
}
.main .khoito{
    display: flex;
    justify-content: space-between;
    padding-bottom: 130px;
    border-bottom: 5px solid #0cc;
}
.main .khoi {
  background-color: #f3f4f5;
  text-align: center;
  color: #999;
  font-size: 19px;
  line-height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  
}
.main .khoi .ndkhoi .title {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 30px;
  color: #0cc;
  padding-top: 30px;
}
.main .khoi .ndkhoi{
    text-align: left;
    padding-left: 20px;
    padding-right: 30px;
} 
.main .team{
    padding-top: 50px;
}
.main .team .congdong{
    display: flex;
    justify-content: space-between;
}
.main .team .congdong .prf{
    color: #999;
    font-size: 19px;
    padding-left: 20px;
}
.main .team .congdong .img{
    max-height: 60%;
}
