.main .blog-list .blog{
    border-top: 5px solid #0cc;
}
.main .blog-list .blog img{
    margin-top: 25px;
    max-width: 100%;
}
.main .blog-list .blog .title{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
    color: #0cc;
}
.main .blog-list .blog .title:hover{
    color: #999;
    cursor: pointer;
}
.main .blog-list .blog .demo{
    color: #999;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 25px;
}
.main .blog-list .blog .type-date{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0cc;
    padding-bottom: 10px;
    color: #0cc;
}
.main .blog-list .blog .comment-author{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #999;
    padding-bottom: 100px;
}
.main .blog-list .blog span{
    font-size: 19px;
}