ul {
  list-style-type: none;
  padding-left: 0%;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
.sidebar {
  background-color: #0cc;
  color: white;
  height: 100vh;
  overflow: scroll;
  padding: 0;
}
.sidebar .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 0px;
}
.sidebar .avatar .avatar-icon {
  width: 80px;
  height: 80px;
  background-color: white;
  color: #0cc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-radius: 50%;
}
.sidebar .avatar .name {
  font-size: 35px;
  margin-top: 10px;
  font-weight: 400;
}
.sidebar .menu .item {
  width: 85%;
  padding: 10px 25px;
  font-size: 35px;
  margin-bottom: 20px;
}
.sidebar .menu .item:horve {
  color: #0cc;
  background-color: white;
  cursor: pointer;
}
.sidebar .menu .active {
  color: #0cc;
  background-color: white;
}
.sidebar .menu .item .name {
  margin-left: 25px;
  font-size: 23px;
}
.sidebar .description {
  padding: 5px 35px;
  font-size: 18px;
}
.sidebar .social {
  padding: 50px 20px;
  padding-left: 18%;
}
.sidebar .social .list {
  display: flex;
  flex-direction: row;
}
.sidebar .social .list .item {
  max-width: 50px;
  height: 50px;
  color: #0cc;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.main{
  padding: 80px 100px;
}
.main .search{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 90px;
}
.main .search-box{
  outline: none;
  width: 60%;
  height: 65px;
  margin-right: 40px;
  border: 1px solid #0cc;
}
.main .search-button{
  border: none;
  height: 65px;
  width: 65px;
  background-color: #0cc;
  color: white;
  border-color: #0cc;
}
.main .pagination{
  display: flex;
  justify-content: space-between;
}
.main .pagination .button{
  text-align: center;
  height: 50px;
  width: 120px;
  border: none;
  border-radius: 8% ;
  font-size: 19px;
  color: rgb(157, 161, 165);
}
.main .pagination .active{
  font-size: 19px;
  color: white;
  background-color: #0cc;
  margin-left: 20px;
}
.main .pagination .page .button{
  text-align: center;
  border: none;
  border-radius: 8% ;
  font-size: 19px;
  color: #0cc;
  border: none;
  width: 50px;
}
.main .pagination .page .p{
  color: #0cc;
  font-size: 19px;
}
.main .pagination .page .active{
  height: 50px;
  width: 50px;
  font-size: 19px;
  color: white;
  background-color: #0cc;
  margin-left: 20px;
  border: none;
  border-radius: 8%;
}
.main .fotter{
  color: #999;
  font-size: 19px;
  margin-top: 100px;
  border-top: 0.25px solid rgb(4, 245, 245);
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.main .fotter .click{
  color: rgb(5, 225, 225);
}
.main .fotter .click:hover{
  color: #0cc;
}